.dashboard-container {
  min-height: 100vh;
  background: #f5f7fb;
}

/* Navbar */
.dashboard-navbar {
  height: 60px;
  background: #133a94;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.logo {
  justify-self: center;
  font-size: 20px;
}

.profile-btn-circle {
  justify-self: end;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile-btn-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-btn-circle:hover img {
  transform: scale(1.05);
}


/* Choice Screen */
.choice-container {
  text-align: center;
  margin-top: 100px;
}

.choice-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.choice-buttons button {
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background: #133a94;
  color: white;
  cursor: pointer;
}

/* Map Pages */
.map-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-placeholder {
  flex: 1;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.search-bar {
  background: white;
  padding: 15px;
  display: flex;
  gap: 10px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.search-bar button {
  background: #133a94;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
